{% extends "layout.html" %}

{% block container %}

<div class="max-w-md mx-auto bg-white p-6 rounded-lg shadow-lg dark:bg-gray-800 mt-10">

    <h2 class="text-2xl font-bold text-gray-900 dark:text-white mb-6 text-center">
        Registrar Alumno
    </h2>

    <form method="POST">

        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>

        <div class="relative z-0 w-full mb-6 group">
            {{ form.nombre(class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600 peer", placeholder=" ") }}

            <label for="nombre" class="peer-focus:font-medium absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:start-0 rtl:peer-focus:translate-x-1/4 peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">
                Nombre
            </label>

            {% if form.nombre.errors %}
                <ul class="mt-2 text-sm text-red-600 dark:text-red-500">
                    {% for error in form.nombre.errors %}
                        <li>* {{ error }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
        </div>

        <div class="relative z-0 w-full mb-6 group">
            {{ form.apaterno(class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600 peer", placeholder=" ") }}

            <label for="apaterno" class="peer-focus:font-medium absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:start-0 rtl:peer-focus:translate-x-1/4 peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">
                Apellido Paterno
            </label>

            {% if form.apaterno.errors %}
                <ul class="mt-2 text-sm text-red-600 dark:text-red-500">
                    {% for error in form.apaterno.errors %}
                        <li>* {{ error }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
        </div>

        <div class="relative z-0 w-full mb-6 group">
            {{ form.email(class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600 peer", placeholder=" ") }}

            <label for="email" class="peer-focus:font-medium absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:start-0 rtl:peer-focus:translate-x-1/4 peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">
                Correo Electrónico
            </label>

            {% if form.email.errors %}
                <ul class="mt-2 text-sm text-red-600 dark:text-red-500">
                    {% for error in form.email.errors %}
                        <li>* {{ error }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
        </div>

        <div class="flex gap-4">
            <button type="submit" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
                Registrar
            </button>
            <a href="{{ url_for('index') }}" class="text-white bg-red-700 hover:bg-red-800 focus:ring-4 focus:outline-none focus:ring-red-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-red-600 dark:hover:bg-red-700 dark:focus:ring-red-800">
                Cancelar
            </a>
        </div>

    </form>
</div>

{% endblock %}