<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flowbite Flask</title>
    <link rel="stylesheet" href="{{url_for('static',filename='dist/output.css')}}">
</head>
<body>
    <nav class="bg-white border-gray-200 px-2 sm:px-4 py-2.5 rounded-sm dark:bg-gray-900">
        <div class="items-center justify-between hidden w-full md:flex md:w-auto md:order-1" id="navbar-cta">
            <ul class="flex flex-col p-4 mt-4 border border-gray-100 rounded-lg bg-gray-50 md:flex-row md:space-x-8 md:mt-0 md:text-sm md:font-medium md:border-0 md:bg-white dark:bg-gray-800 md:dark:bg-gray-900 dark:border-gray-700">
                <li>
                    <a href="{{ url_for('index_raiz') }}" class="block py-2 pl-3 pr-4 text-gray-700 rounded-sm hover:bg-gray-100 md:hover:bg-transparent md:hover:text-blue-700 md:p-0 dark:text-gray-400">Inicio</a>
                </li>
                <li>
                    <a href="{{ url_for('alumnos.index') }}" class="block py-2 pl-3 pr-4 text-gray-700 rounded-sm hover:bg-gray-100 md:hover:bg-transparent md:hover:text-blue-700 md:p-0 dark:text-gray-400">Alumnos</a>
                </li>
                <li>
                    <a href="{{ url_for('maestros.listado_maestros') }}" class="block py-2 pl-3 pr-4 text-gray-700 rounded-sm hover:bg-gray-100 md:hover:bg-transparent md:hover:text-blue-700 md:p-0 dark:text-gray-400">Maestros</a>
                </li>
                <li>
                    <a href="{{ url_for('cursos.index') }}" class="block py-2 pl-3 pr-4 text-gray-700 rounded-sm hover:bg-gray-100 md:hover:bg-transparent md:hover:text-blue-700 md:p-0 dark:text-gray-400">Cursos</a>
                </li>
            </ul>
    </div>
    </nav>

    <div class="flex justify-center w-full">
        {% with messages = get_flashed_messages() %}
          {% if messages %}
            <div class="container mt-4 px-4 max-w-2xl">
              {% for message in messages %}
                <div class="p-4 mb-4 text-sm text-green-800 rounded-lg bg-green-50 shadow-md" role="alert">
                  <span class="font-medium">Mensaje:</span> {{ message }}
                </div>
              {% endfor %}
            </div>
          {% endif %}
        {% endwith %}
    </div>

    <div class="flex items-center justify-center min-h-screen">
        {% block container %}
        {% endblock %}
    </div>
    <script src="https://cdn.jsdelivr.net/npm/flowbite@3.1.2/dist/flowbite.min.js"></script>
</body>

</html>